body {
  margin: 0;
  padding: 0;
  display: flex;


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;


  background-color: #f2f2f2;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  width: 1200px;
}

.container-page {
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 15px #dbdbdb;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  position: relative;
  background-color: #ffffff;
  width: 1200px;

  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-header li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  left: 44.1%;
  z-index: 1;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  line-height: 55px;
  align-items: center;
  margin: 0;
}

.site-nav a {
  display: block;
  height: 100%;
}

.site-nav li:first-child {
  margin-left: 6%;
  margin-right: 12.2%;
  /*min-width: 22.1%;*/
  /*max-width: 240px;*/
}

.site-nav li:nth-child(2) {
  margin-right: auto;
}

.site-nav li:last-child {
  margin-right: 6%;
  margin-left: 13.63%;
  /*min-width: 22.1%;*/
  /*max-width: 240px;*/
  /*text-align: right;*/
}

.main-header a {
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  color: #80b3d2;
}

.main-header a:active {
  color: rgba( 0, 0, 0, 0.3);
}

.welcome-block {
  background-color: #848288;
  background-image: url("../img/background-photo.jpg");
  background-position: 0, 0;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 773px;
  position: relative;
  z-index: -1;
  margin-bottom: -208px;
  margin-top: -55px;
}

.welcome-block img {
  padding-top: 130px;
}

.features,
.search-button {
  background-color: #ffffff;
  position: relative;

  color: #000000;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}





/*.features h2+p {
  line-height: 26px;
  text-align: center;
  color: #333333;
}*/

.features h3 {
  font-size: 21px;
  text-align: center;
}

.features span,
.features p {
  text-align: center;
  color: #333333;
}

.feature-true-town,
.feature-diablo-bridge {
  background-color: #81b3d2;
  width: 1200px;

  color: #ffffff;
}

.feature-true-town p,
.feature-diablo-bridge p,
.feature-true-town span,
.feature-diablo-bridge span {
  color: #ffffff;
}

.feature-true-town p {
  align-self: center;
  width: 290px;
}

.feature-diablo-bridge p {
  width: 306px;
  align-self: center;
}

.feature-brown-block {
  background-color: #eeeeee;

  color: #000000;

  width: 33.333333%;
  min-height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-brown-block h3 {
  margin: 0;
  width: 130px;
  align-self: center;

  margin-bottom: 25px;
  margin-top: 45px;
}

.feature-brown-block p {
  width: 210px;
  align-self: center;
  margin: 0;

  margin-bottom: 55px;
}

.feature-brown-block span {
  margin-bottom: auto;
}

.search-button b {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-button p {
  line-height: 24px;
  text-align: center;

  color: #333333;
}

.button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #766357;
  border: none;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #604e43;
}

.brown-button:active {
  background-color: #503e33;
  color: rgba( 255, 255, 255, 0.3);
}

.blue-button {
  background-color: #81b3d2;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}

.blue-button:active {
  background-color: #5496bd;
  color: rgba( 255, 255, 255, 0.3);
}

.search-form label {
  line-height: 26px;
  font-weight: 700;
}

.footer p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 240px;
  margin-left: 6%;
}

.footer ul {
  text-align: center;
}

.social-button {
  background-color: #81b3d2;
  color: #ffffff;

  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:active path {
  fill: #88b6d1;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
  color: #ffffff;
}

.social-button:active {
  background-color: #5496bd;
  color: rgba( 255, 255, 255, 0.3);
}

.footer li {
  list-style: none;
}

.footer-copyright {
  line-height: 26px;
  vertical-align: middle;
  text-align: right;
  margin-right: 6%;
  width: 240px;

  fill: black;
}

.footer-copyright a {
  color: #000000;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  fill: #5496bd;
}

.footer-copyright a:active {
  fill: #bdbbbc;
}

.hotels-main {
  background-color: #ffffff;
}

.filters {
  background-color: #465159;
  background-image: url("../img/filter background.png");
  background-repeat: no-repeat;

  display: flex;
  min-height: 192px;
  padding-top: 25px;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filters label,
.range-input div {
  color: #ffffff;
}

.wrapper-result-filter .wrapper-text-results,
.hotels-list a h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-list a h3:hover,
.hotels-list a h3:focus {
  color: #80b3d2;
}

.hotels-list a h3:active {
  color: rgba( 0, 0, 0, 0.3);
}

.result-filter {
  font-size: 12px;
  line-height: 18px;

  display: flex;
  margin-right: auto;
  flex-wrap: wrap;
}

.result-filter ul {
  display: flex;
  padding: 0;
  width: 288px;
}

.results ul {
  list-style: none;
}

.result-filter li:first-child {
  margin-left: 39px;
}

.result-filter li:nth-child(2) {
  margin-left: 32px;
  margin-right: auto;
}

.result-filter li:last-child {
  margin-right: 11px;
}

.result-filter .active-filter {
  color: #81b3d2;
  text-decoration: none;
}

.result-filter a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted;
}

.result-filter a:hover {
  color: #81b3d2;
}

.result-filter a:active {
  color: #000000;
  text-decoration: none;
}

.hotels-list span {
  color: #333333;
}

.wrapper-h2 {
  display: flex;
  width: 490px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 55px;
}

.wrapper-feature-town {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 33.333333%;
}

.feature-true-town {
  display: flex;

  position: relative;
  min-height: 255px;
  overflow: hidden;
}

.feature-true-town img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
}

.sublist {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sublist-item {
  padding-top: 60px;
  padding-bottom: 82px;
  width: 285px;
}

.sublist h3 {
  padding-top: 72px;
  position: relative;
}

.sublist-item-aparts h3::before {
  content: "";

  position: absolute;
  width: 75px;
  height: 72px;

  top: -25px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.sublist-item-food h3::before {
  content: "";

  position: absolute;
  width: 74px;
  height: 70px;

  top: -25px;
  left: 37%;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.sublist-item-gifts h3::before {
  content: "";

  position: absolute;
  width: 64px;
  height: 76px;

  top: -25px;
  left: 39%;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.welcome-block {
  display: flex;
  justify-content: center;
}

.feature-diablo-bridge {
  display: flex;
}

.wrapper-feature-bridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 33.3333333%;
}

.search-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-search-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 575px;
  align-items: center;
}

.wrapper-text-search-button {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding-top: 55px;
  padding-bottom: 50px;
}

.search-button-brown {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 20px;

  background-color: #fff;

  position: absolute;
  width: 475px;
  top: 100%;
}

.wrapper-input-label {
  display: flex;
  width: 450px;
  margin-top: 30px;
  justify-content: space-between;
}

.search-button-blue {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 55px;
}

.wrapper-input-label input {
  width: 75%;
}

.label-adult-amount {
  padding-right: 35px;
}

.label-children-amount {
  padding-left: 40px;
  padding-right: 15px;
}

.map {
  width: 100%;
  position: relative;
  z-index: -1;
  min-height: 475px;
  height: 100%
}

.footer {
  width: 1200px;
  min-height: 120px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer ul {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  margin: 0 auto;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.infrastructure {
  display: flex;
  margin-left: 6%;
  margin-right: 110px;
  padding: 0;
}

.rent-type {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.filter-range {
  margin-right: 6%;
  margin-left: auto;
}

.wrapper-result-filter {
  display: flex;
  align-items: center;
  min-height: 88px;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
}

.hotels-list li {
  display: flex;
  border-top: 1px solid #e5e5e5;

  height: 151px;
}

.wrapper-hotel-card {
  width: 364px;
  margin-left: 30px;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.wrapper-hotel-card h3 {
  text-align: start;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.welcome-block svg {
  position: absolute;
  width: 100%;
  bottom: 208px;
}

.map-container {
  position: absolute;
}

.diablo-bridge-image {
  height: 255px;
  width: 800px;
}

.filter-range {
  width: 328px;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-range-title {
  font-weight: 700px;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 9px;
}

.price-control {
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;
  position: relative;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-control label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-control .min-value,
.price-control .max-value {
  width: 90px;
  padding-left: 65px;
}

.price-control input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-control::after {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

  position: absolute;
  top: -9px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.result-direction {
  margin-right: 6%;
}

.result-direction svg:first-child {
  margin-right: 10px;
}

.result-direction path:hover,
.result-direction path:focus {
  fill: #000;
}

.result-direction path:active {
  fill: #81b3d2;
}

.wrapper-text-results {
  width: 240px;
  margin-left: 6%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.wrapper-text-results p:last-child {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}


.wrapper-hotel-list {
  margin-left: 6%;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-list-item-img {
  align-self: center;
}

.wrapper-card-info {
  display: flex;
  width: 183px;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: auto;
}

.wrapper-card-buttons {
  display: flex;
  width: 260px;
  margin-bottom: 30px;
}

.info-button {
  width: 110px;
  height: 27px;

  margin-right: 7px;
}

.book-button {
  width: 142px;
  height: 27px;
}

.info-button,
.book-button {
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
}


.stars-rate {
  width: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 6%;
}

.stars {
  display: flex;
  justify-content: flex-end;

  min-height: 17px;
  margin-right: -6px;
}

.stars-rate span {
  background-color: #f2f2f2;
}

.stars svg {
  margin-right: 6px;
}
