body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f1f1f1;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #ffffff;

	line-height: 26px;
	font-weight: 700;
	color: #000000;	
}

.main-header li {
	list-style: none;
}

.main-header a {
	color: #000000;	
}

.main-header a:hover,
.main-header a:focus {
	color: #80b3d2;
}

.main-header a:active {
	color: rgba( 0, 0, 0, 0.3);
}

.welcome-block{
	background-color: #848288;
	background-image: url("img/background-photo.jpg");
	background-position: 0,0;
	background-repeat: no-repeat;
}

.features ul {
	list-style: none;
}


