body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;


  background-color: #f2f2f2;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  position: relative;
  background-color: #ffffff;
  width: 1200px;

  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-header li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  left: 44.1%;
  z-index: 1;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  line-height: 55px;
  align-items: center;
  margin: 0;
}

.site-nav a {
  display: block;
  height: 100%;
}

.site-nav li:first-child {
  margin-left: 6%;
  margin-right: 12.2%;
  /*min-width: 22.1%;*/
  /*max-width: 240px;*/
}

.site-nav li:nth-child(2) {
  margin-right: auto;
}

.site-nav li:last-child {
  margin-right: 6%;
  margin-left: 13.5%;
  /*min-width: 22.1%;*/
  /*max-width: 240px;*/
  /*text-align: right;*/
}

.main-header a {
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  color: #80b3d2;
}

.main-header a:active {
  color: rgba( 0, 0, 0, 0.3);
}

.welcome-block {
  background-color: #848288;
  background-image: url("../img/background-photo.jpg");
  background-position: 0, 0;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 773px;
  position: relative;
  z-index: -1;
  margin-bottom: -208px;
  margin-top: -55px;
}

.welcome-block img {
  padding-top: 130px;
}

.features,
.search-button {
  background-color: #ffffff;
  position: relative;

  color: #000000;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.features h2+p {
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.features h3 {
  font-size: 21px;
  text-align: center;
}

.features span,
.features p {
  text-align: center;
  color: #333333;
}

.feature-true-town,
.feature-diablo-bridge {
  background-color: #81b3d2;
  width: 1200px;

  color: #ffffff;
}

.feature-true-town p,
.feature-diablo-bridge p,
.feature-true-town span,
.feature-diablo-bridge span {
  color: #ffffff;
}

.feature-true-town p,
.feature-diablo-bridge p {
  width: 290px;
  align-self: center;
}

.feature-brown-block {
  background-color: #eeeeee;

  color: #000000;

  width: 33.333333%;
  min-height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-brown-block h3 {
  margin: 0;
  width: 130px;
  align-self: center;
}

.feature-brown-block p {
  width: 210px;
  align-self: center;
  margin: 0;
}

.search-button b {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-button p {
  line-height: 24px;
  text-align: center;

  color: #333333;
}

.button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #766357;
  border: none;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #604e43;
}

.brown-button:active {
  background-color: #503e33;
  color: rgba( 255, 255, 255, 0.3);
}

.blue-button {
  background-color: #81b3d2;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}

.blue-button:active {
  background-color: #5496bd;
  color: rgba( 255, 255, 255, 0.3);
}

.search-form label {
  line-height: 26px;
  font-weight: 700;
}

.footer p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer ul {
  text-align: center;
}

.social-button {
  background-color: #81b3d2;
  color: #ffffff;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
  color: #ffffff;
}

.social-button:active {
  background-color: #5496bd;
  color: rgba( 255, 255, 255, 0.3);
}

.footer li {
  list-style: none;
}

.footer-copyright {
  line-height: 26px;
  vertical-align: middle;
  text-align: right;

  fill: black;
}

.footer-copyright a {
  color: #000000;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  fill: #5496bd;
}

.footer-copyright a:active {
  fill: #bdbbbc;
}

.hotels-main {
  background-color: #ffffff;
}

.filters {
  background-color: #465159;
  background-image: url("../img/filter background.png");
  background-repeat: no-repeat;

  display: flex;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filters label,
.range-input div {
  color: #ffffff;
}

.wrapper-result-filter>p,
.hotels-list a h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-list a h3:hover,
.hotels-list a h3:focus {
  color: #80b3d2;
}

.hotels-list a h3:active {
  color: rgba( 0, 0, 0, 0.3);
}

.result-filter {
  font-size: 12px;
  line-height: 18px;

  display: flex;
}

.result-filter ul {
  display: flex;
}

.results ul {
  list-style: none;
}

.result-filter .active-filter {
  color: #81b3d2;
  text-decoration: none;
}

.result-filter a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted;
}

.result-filter a:hover {
  color: #81b3d2;
}

.result-filter a:active {
  color: #000000;
  text-decoration: none;
}

.hotels-list span {
  color: #333333;
}

.wrapper-h2 {
  display: flex;
  width: 490px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 55px;
}

.wrapper-feature-town {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 33.333333%;
}

.feature-true-town {
  display: flex;

  position: relative;
  min-height: 255px;
  overflow: hidden;
}

.feature-true-town img {
  position: absolute;
  top: -73px;
  right: 0;
}

.sublist {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sublist-item {
  padding-top: 60px;
  padding-bottom: 82px;
  width: 285px;
}

.sublist h3 {
  padding-top: 72px;
  position: relative;
}

.sublist-item-aparts h3::before {
  content: "";

  position: absolute;
  width: 75px;
  height: 72px;

  top: -25px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.sublist-item-food h3::before {
  content: "";

  position: absolute;
  width: 74px;
  height: 70px;

  top: -25px;
  left: 37%;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.sublist-item-gifts h3::before {
  content: "";

  position: absolute;
  width: 64px;
  height: 76px;

  top: -25px;
  left: 39%;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.welcome-block {
  display: flex;
  justify-content: center;
}

.feature-diablo-bridge {
  display: flex;
}

.wrapper-feature-bridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 33.3333333%;
}

.search-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-search-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 575px;
  align-items: center;
}

.wrapper-text-search-button {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding-top: 55px;
  padding-bottom: 50px;
}

.search-button-brown {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 20px;

  background-color: #fff;

  position: absolute;
  width: 475px;
  top: 100%;
}

.wrapper-input-label {
  display: flex;
  width: 450px;
  margin-top: 30px;
  justify-content: space-between;
}

.search-button-blue {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 55px;
}

.wrapper-input-label input {
  width: 75%;
}

.label-adult-amount {
  padding-right: 35px;
}

.label-children-amount {
  padding-left: 40px;
  padding-right: 15px;
}

.map {
  width: 100%;
}

.footer {
  width: 1200px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}

.footer ul {
  display: flex;
  width: 150px;
  justify-content: space-around;
  padding: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.infrastructure {
  display: flex;
  margin-left: 6%;
  margin-right: 110px;
  padding: 0;
}

.rent-type {
  display: flex;
  padding: 0;
  margin: 0;
}

.range-input {
  margin-right: 6%;
  margin-left: auto;
}

.wrapper-result-filter {
  display: flex;
  align-items: baseline;
}

.hotels-list {
  display: flex;
  flex-direction: column;
}

.hotels-list li {
  display: flex;
}

.wrapper-hotel-card {
  display: flex;
  flex-direction: column;
}

.welcome-block svg {
  position: absolute;
  width: 100%;
  bottom: 208px;
}

.map-container {
  height: 475px;
  overflow: hidden;
}
